In [17]:
import pandas as pd

In [18]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\t480\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\t480\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
df = pd.read_excel("GRC_Spotify_Exo_1.xlsx")

In [20]:
#extraire les email 
prenoms_feminins = ["lea", "alice", "claire", "emma"]
prenoms_masculins = ["jean", "martin", "lucas", "olivier"]

#fonction pour detecter le sexe
def detection_sexe(email):
    prenom = email.split('.')[0].lower()
    if prenom in prenoms_feminins:
        return "Féminin"
    elif prenom in prenoms_masculins:
        return "Masculin"
    else:
        return "Inconnu"

df["sexe"] = df["Email"].apply(detection_sexe)

In [21]:
df

,ID,Age,Email,Profession,Region,sexe
0,223ARR,20,lea.moreau@mail.com,étudiant en droit,Pas-de-Calais,Féminin
1,695XGY,25,alice.thomas@mail.com,étudiant en informatique,Gironde,Féminin
2,163GHT,55,jean.durand@studentmail.fr,étudiant en informatique,Oise,Masculin
3,630ZDN,51,martin.david@studentmail.fr,étudiant en ingénierie,Somme,Masculin
4,582SUZ,18,claire.muller@studentmail.fr,étudiant en médecine,Aisne,Féminin
...,...,...,...,...,...,...
495,497YVU,24,alice.david@domain.fr,serveur,Gironde,Féminin
496,618XQI,25,lea.thomas@mail.com,étudiant en ingénierie,Pas-de-Calais,Féminin
497,720XLE,67,lea.david@example.com,étudiant en droit,Nord,Féminin
498,967JGM,18,lea.thomas@university.com,commercial,Nord,Féminin
499,966BSG,18,lea.thomas@university.com,étudiant en droit,Pas-de-Calais,Féminin

In [39]:
segment_group_Age = df["Age"].value_counts()
segment_group_Profession = df["Profession"].value_counts()
segment_groupby_Region = df["Region"].value_counts()
segment_groupby_sex = df["sexe"].value_counts()

In [52]:
#intervale d'age 

age_18_24 = df[(df["Age"]>=18) & (df["Age"] < 25)]

In [55]:
#load partie 2 
df2 = pd.read_excel("Spotify_EXO_2.xlsx")

In [56]:
df2 = df2.drop(["ID"], axis=1)

In [57]:
df2.head()

,concert_last_year,visited_website,created_account,listen_regularly,upgrade_to_premium,top20%_listeners,recommanded_spotify
0,1,1,0,0,0,0,0
1,0,0,0,0,0,0,0
2,1,1,1,1,0,0,0
3,1,1,0,0,0,0,0
4,1,1,1,1,0,0,0

In [63]:
df = df.merge(df2)

(500, 7)

In [59]:
df.columns

Index(['ID', 'Age', 'Email', 'Profession', 'Region', 'sexe'], dtype='object')

In [60]:
df.head()

,ID,Age,Email,Profession,Region,sexe
0,223ARR,20,lea.moreau@mail.com,étudiant en droit,Pas-de-Calais,Féminin
1,695XGY,25,alice.thomas@mail.com,étudiant en informatique,Gironde,Féminin
2,163GHT,55,jean.durand@studentmail.fr,étudiant en informatique,Oise,Masculin
3,630ZDN,51,martin.david@studentmail.fr,étudiant en ingénierie,Somme,Masculin
4,582SUZ,18,claire.muller@studentmail.fr,étudiant en médecine,Aisne,Féminin

In [35]:
df[df["concert_last_year"]==1]

KeyError: 'concert_last_year'